body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Triệt để khóa cuộn page */
  position: fixed; /* Cố định vị trí */
  -webkit-overflow-scrolling: touch; /* Hỗ trợ mượt trên mobile nếu có */
}

#root {
  width: 100%;
  height: 100%;
}